/* Usage: font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body {
  height: 100%;
}

body {
  position: relative;
  padding-top: 15px;
  text-align: center;
}

a.waves-effect {
  margin-top: 20px;
}

h3 {
  font-family: 'Pacifico', cursive;
  color: #c72945;
}

#description {
  font-size: 24px;
  margin: 0 10%;
}

.one, .two, .three, .four, .waves-effect {
  opacity: 0;
  transition: opacity 0.5s;
}

.reveal {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #description {
    margin: 0 15px;
  }
}

@media screen and (max-height: 500px) {
  a.waves-effect {
    margin-bottom: 30px;
  }
}
