/* Usage: font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body {
  height: 100%;
}

body {
  position: relative;
  padding-top: 15px;
}

a.waves-effect {
  position: absolute;
  left: 50%;
  top: 500px;
  transform: translateX(-50%);
}

h3 {
  font-family: 'Pacifico', cursive;
  position: absolute;
  top: 84px;
  padding-top: 10px;
  color: #c72945;
}

img, #description {
  position: absolute;
  font-size: 24px
}

#description {
  top: 170px;
}

.one, .two, .three, .four {
  opacity: 0;
  transition: opacity 0.5s;
}

.reveal {
  opacity: 1;
}

.absolute-center {
  left: 50%;
  transform: translateX(-50%);
}
