<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tweets by @paulienuh... from {{start}} to {{end}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='display_tweets.css')}}">
</head>
<body>
  <p class="pre-loader">Loading tweets from {{ start.split("-")[0] }}... Oops!</p>
  <div class="container">
    <h3>Tweets by @paulienuh in {{ start.split("-")[0] }}</h3>
    {% for tweet in tweets %}
      <div class="section">
        <h5>{{ tweet['text'] }}</h5>
        <p>{{ tweet['time'] }}</p>
        {% for image in tweet['images'] %}
          <img class="tweet-img" src="{{image}}">
        {% endfor %}
      </div>
      <div class="divider"></div>
    {% endfor %}
  </div>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(function() {
      setTimeout(function() {
        $(".pre-loader").css("opacity", "0");
        $(".container").toggleClass("reveal");
      }, 3000);
    });
  </script>
</body>
</html>
