<!DOCTYPE html>
<html>
<head>
  <title>CF:G Sheffield Ambassador Appreciation App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
  <img class="absolute-center" src="{{ url_for('static', filename='cfg_logo.png') }}">
  <h3 class="absolute-center">Ambassadors Appreciation</h3>
  <p class="absolute-center center-align one">First of all, a big thank you to Pauline and Sophia for being such awesome ambassadors for our course!</p>
  <p class="absolute-center center-align two">If you haven't already, you should follow them on Twitter!</p>
  <p class="absolute-center center-align three">Especially @paulienuh - I heard she's pretty cool.</p>
  <p class="absolute-center center-align four">In fact, let's check out what she's been posting lately!</p>
  <a class="waves-effect waves-light btn btn-large red lighten-4" href="#">LET'S GO</a>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</body>
</html>
